*.pyc
__pycache__/
*.pyo
*.pyd


env/
venv/
.env.production


.idea/

.env

db.sqlite3
backup.sql
data.json.backup
data_backup.json
data_backup.json.backup
data_backup_filtered.json
filter_backup.py
fix_db.py
init_db.py