{% extends 'accounts/main.html' %}

{% block content %}

<div class="grid grid-cols-1 lg:grid-cols-3 gap-6">

    <form method="POST" class="lg:col-span-1 bg-white p-6 rounded-xl shadow-sm border border-gray-100">
        {% csrf_token %}
        <h3 class="text-lg font-bold mb-4">Plan Parameters</h3>
<!--            <p>Total Products in Database: {{ product_count }}</p>-->
        <div class="space-y-4">
            <div>
                <div class="flex flex-col">
                    <label class="text-xs font-semibold text-gray-600 mb-1">Product Name</label>
                    {{ form.product }}
                </div>
                <div class="flex flex-col">
                    <label class="text-xs font-semibold text-gray-600 mb-1">Product Price</label>
                    <span id="price-display" class="p-2 border rounded-lg bg-gray-50 font-bold text-lg">Rs. 0.00</span>
                </div>
                <label class="text-xs font-bold text-gray-500 uppercase">Downpayment</label>
                <div class="flex">
                    <span class="bg-gray-100 px-3 py-2 border border-r-0 rounded-l-md">Rs. </span>
                    <input type="number" id="downpayment" class="w-full border rounded-r-md p-2">
                </div>
            </div>
            <div>
                <label class="text-xs font-bold text-gray-500 uppercase">Installment Terms</label>
                <div id="month-option" class="grid grid-cols-3 gap-2 mt-1">
                    <button type="button" class="term-btn py-2 border rounded-md hover:bg-blue-50" data-value="3">3 Mo</button>
                    <button type="button" class="term-btn py-2 border rounded-md bg-blue-600 text-white" data-value="6">6 Mo</button>
                    <button type="button" class="term-btn py-2 border rounded-md hover:bg-blue-50" data-value="12">12 Mo</button>
                </div>
            </div>
            <div class="w-full">
                <button type="button" id="calculate-button" class="w-full bg-blue-600 text-white h-10 rounded text-2xl font-bold">Calculate</button>
            </div>
        </div>
    </form>

    <div class="lg:col-span-2 space-y-6">
        <div class="grid grid-cols-2 gap-4">
            <div class="bg-blue-700 p-6 rounded-xl text-white">
                <p class="text-sm opacity-80">Monthly Payment</p>
                <h2 id="monthly-payment" class="text-3xl font-black">Rs. 2,450.00</h2>
            </div>
            <div class="bg-gray-800 p-6 rounded-xl text-white">
                <p class="text-sm opacity-80">Total Interest</p>
                <h2 id="total-interest-display" class="text-3xl font-black">Rs. 850.00</h2>
            </div>
        </div>

        <div id="schedule-container" class="bg-white rounded-xl shadow-sm border overflow-hidden">
            <table class="w-full text-sm">
                <thead class="bg-gray-50 font-bold">
                    <tr>
                        <th class="p-3 text-left">Date Due</th>
                        <th class="p-3 text-right">Amount</th>
                        <th class="p-3 text-right">Balance</th>
                    </tr>
                </thead>
                <tbody class="divide-y">
                    </tbody>
            </table>
            <div id="print" class="mb-2 mr-2 flex justify-end hidden">
                <button onclick="window.print()" class="flex items-center gap-2 px-4 py-2 bg-gray-800 text-white rounded-md hover:bg-black transition">
                    <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 17h2a2 2 0 002-2v-4a2 2 0 00-2-2H5a2 2 0 00-2 2v4a2 2 0 002 2h2m2 4h6a2 2 0 002-2v-4a2 2 0 00-2-2H9a2 2 0 00-2 2v4a2 2 0 002 2zm8-12V5a2 2 0 00-2-2H9a2 2 0 00-2 2v4h10z" />
                    </svg>
                    Print Data
                </button>
            </div>
        </div>
    </div>
</div>

<script>
    const priceMap = {
        {% for p in all_products %}
            "{{ p.id }}": {{ p.base_price }},
        {% endfor %}
    };

    const dropdown = document.getElementById('product_select');
    const display = document.getElementById('price-display');
    let monthOption = document.getElementById('month-option');
    const buttons = document.querySelectorAll('.term-btn')
    const monthlyPayment = document.getElementById('monthly-payment');
    const tableBody = document.querySelector('tbody')
    let selectedTerm = 6
    let currentPrice = 0

    dropdown.addEventListener('change', function() {
        const selectedId = this.value;
        if (selectedId && priceMap[selectedId]) {
            const price = parseFloat(priceMap[selectedId]);
            display.innerText = 'Rs. ' + price.toLocaleString(undefined, {minimumFractionDigits: 2});
        } else {
            display.innerText = 'Rs. 0.00';
        }

        currentPrice = parseFloat(priceMap[selectedId]) || 0;
    });

    monthOption.addEventListener('click', (e) => {
        if (e.target.classList.contains('term-btn')){
            buttons.forEach(btn => {
                btn.classList.remove('bg-blue-600', 'text-white')
                btn.classList.add('hover:bg-blue-50')
            })

            e.target.classList.add('bg-blue-600', 'text-white')
            e.target.classList.remove('hover:bg-blue-50')

            selectedTerm = e.target.getAttribute('data-value');
            console.log('Selected term:', selectedTerm)

        }
    })

    function calculate() {
        const downpaymentVal = parseFloat(document.getElementById('downpayment').value) || 0;

        let tax = currentPrice * 0.12;

        let principal = (currentPrice + tax) - downpaymentVal;

        let interestAmount = principal * 0.03;

        let totalPayable = principal + interestAmount;

        let monthlyPaymentAmount = totalPayable / selectedTerm;

        monthlyPayment.innerText = 'Rs. ' + monthlyPaymentAmount.toLocaleString(undefined, {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        document.getElementById('total-interest-display').innerText = 'Rs. ' + interestAmount.toLocaleString(undefined, {
            minimumFractionDigits: 2,
            maximumFractionDigits: 2
        });

        tableBody.innerHTML = ''

        let monthlyInstallment = totalPayable / selectedTerm;
        let balance = totalPayable
        let date = new Date();

        for (let i = 1; i <= selectedTerm; i++){
            balance -= monthlyInstallment
            date.setMonth(date.getMonth() + 1)

            let row = `
                <tr>
                    <td class="p-3">Rs. {date.toLocaleDateString()}</td>
                    <td class="p-3 text-right">Rs. Rs. {monthlyInstallment.toLocaleString(undefined, {minimumFractionDigits: 2})}</td>
                    <td class="p-3 text-right">Rs. Rs. {Math.max(0, balance).toLocaleString(undefined, {minimumFractionDigits: 2})}</td>
                </tr>
            `

            document.getElementById('print').classList.remove('hidden')
            tableBody.insertAdjacentHTML('beforeend', row)
        }
    }

    document.getElementById('calculate-button').addEventListener('click', calculate)

</script>

<style>
    @media print{
        body * {
            visibility: hidden;
        }

        #schedule-container, #schedule-container * {
            visibility: visible;
        }

        #schedule-container {
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
        }
    }
</style>

{% endblock %}