{% load static %} <!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/2.3.0/flowbite.min.css" rel="stylesheet" />
    <title>GGH POS</title>

    <style>
        html {
            font-size: 0.9rem;
        }

        /*body {*/
        /*    background-color: #f9fafb; !* Optional:
        /*    zoom: 0.9;*/
        /*    -moz-transform: scale(0.9);*/
        /*    -moz-transform-origin: 0 0;*/
        /*    !* width: 111.11%;
        /*}*/

        /*main {*/
        /*    max-width: 1600px;*/
        /*    margin: 0 auto;*/
        /*}*/
    </style>

    <meta name="google-site-verification" content="wcSZfhKOaNMLGXfdHpFv9cGL_-qxAdySYVS6e6wyB8M" />
</head>
<body>

    {% include 'accounts/navbar.html' %}

    <main class="pt-24 px-6">
        {% block content %}

        {% endblock %}
    </main>

</body>
</html>