{% extends 'accounts/main.html' %}

{% load static %}

{% block content %}
<div class="h-[calc(100vh-110px)] flex flex-col lg:flex-row gap-4 p-4 bg-gray-100 overflow-hidden">

    {% include 'components/pos_product_list.html' %}

    {% include 'components/cart.html' %}
</div>


<div id="modal-container" class="fixed right-0 bottom-0 left-0 z-[100] hidden
            bg-blue-950/40 backdrop-blur-sm
            flex items-center justify-center p-4 overflow-y-auto"
     style="top: 80px; height: calc(100vh - 80px);">

    {% include 'components/cash_modal.html' %}

</div>

<script>
    const currentEmployeeId = "{{ request.user.id }}"

    const cartKey = `pos_cart_userRs. {currentEmployeeId}`;

    let cart = JSON.parse(localStorage.getItem(cartKey)) || [];
    let currentGrandTotal = 0;
    let isStageOpen = false;
</script>

<!--<script src="{% static 'js/posTerminal.js' %}"></script>-->
<script src="{% static 'js/posCalculations.js' %}"></script>
<script src="{% static 'js/posScanner.js' %}"></script>
<script src="{% static 'js/posUI.js' %}"></script>

<script src="{% static 'js/posInit.js' %}"></script>

<script>
    renderCart()
</script>

{% endblock %}