{% extends 'accounts/main.html' %}

{% block content %}


<div class="bg-white border border-gray-200 rounded-lg shadow-sm overflow-hidden">
    <form method="get" class="flex flex-row flex-wrap items-end gap-4 p-4 bg-gray-50 border-b">
        <div class="flex flex-col">
            <label class="text-xs font-semibold text-gray-600 mb-1">Product Name</label>
            {{ myFilter.form.order__customer }}
        </div>
    </form>

    <table class="w-full text-sm text-left text-gray-500">
        <thead class="text-xs text-gray-700 uppercase bg-gray-100 text-center">
            <tr>
                {% if is_manager %}
                <th class="px-6 py-3">Employee</th>
                {% endif %}
                <th class="px-6 py-3">Customer</th>
                <th class="px-6 py-3">Product Name</th>
                <th class="px-6 py-3">Branch</th>
                <th class="px-6 py-3">Category</th>
                <th class="px-6 py-3">Qty</th>
                <th class="px-6 py-3">Price</th>
                <th class="px-6 py-3">Payment Method</th>
                <th class="px-6 py-3">Status</th>
                {% if is_manager %}
                <th class="px-6 py-3">Option</th>
                {% endif %}
            </tr>
        </thead>
        <tbody class="divide-y divide-gray-200">
            {% for i in sales %}
            <tr class="hover:bg-gray-50 text-center">
                {% if is_manager %}
                <td class="px-6 py-4 font-medium text-gray-900">{{ i.order.employee }}</td>
                {% endif %}
                <td class="px-6 py-4">{{ i.order.customer }}</td>
                <td class="px-6 py-4 font-medium text-gray-900">{{ i.product.product_name }}</td>
                <td class="px-6 py-4 font-medium text-gray-900">{{ i.order.branch }}</td>
                <td class="px-6 py-4">{{ i.product.category }}</td>
                <td class="px-6 py-4 font-medium text-gray-900">{{ i.quantity }}</td>
                <td class="px-6 py-4">₱{{ i.product.base_price }}</td>
                <td class="px-6 py-4 font-medium text-gray-900">{{ i.order.payment_method }}</td>
                <td class="px-6 py-4"> {{ i.order.order_status }}
<!--                    {% if i.quantity <= 0 %}-->
<!--                        <span class="px-2 py-1 text-xs font-semibold text-red-800 bg-red-100 rounded-full">-->
<!--                            Out of Stock-->
<!--                        </span>-->
<!--                    {% elif i.quantity <= i.product.min_stock_level %}-->
<!--                        <span class="px-2 py-1 text-xs font-semibold text-orange-800 bg-orange-100 rounded-full">-->
<!--                            Low Stock: {{ i.quantity }}-->
<!--                        </span>-->
<!--                    {% else %}-->
<!--                        <span class="px-2 py-1 text-xs font-semibold text-green-800 bg-green-100 rounded-full">-->
<!--                            In Stock: {{ i.quantity }}-->
<!--                        </span>-->
<!--                    {% endif %}-->
                </td>
                {% if is_manager %}
                <td class="px-6 py-4 font-medium text-gray-900">
                    <a href="{% url 'inventory_update' i.id %}" class="px-4 py-2 bg-blue-700 text-white text-sm rounded-md hover:bg-blue-500 transition">
                        Edit Stock
                    </a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<div class="flex items-center justify-between p-4 bg-white border-t border-gray-200">
    <span class="text-sm text-gray-700">
        Page <span class="font-semibold text-gray-900">{{ sales.number }}</span> of
        <span class="font-semibold text-gray-900">{{ sales.paginator.num_pages }}</span>
    </span>

    <div class="inline-flex mt-2 xs:mt-0">
        {% if sales.has_previous %}
            <a href="?page={{ sales.previous_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|cut:'page=' }}{% endif %}"
               class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 rounded-s hover:bg-gray-900">
                Prev
            </a>
        {% endif %}

        {% if sales.has_next %}
            <a href="?page={{ sales.next_page_number }}{% if request.GET.urlencode %}&{{ request.GET.urlencode|cut:'page=' }}{% endif %}"
               class="flex items-center justify-center px-3 h-8 text-sm font-medium text-white bg-gray-800 border-0 border-s border-gray-700 rounded-e hover:bg-gray-900">
                Next
            </a>
        {% endif %}
    </div>
</div>

{% endblock %}